body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  margin-top: 32px;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800&display=swap');

h1 {
  color: rgb(0, 0, 0);
  font-size: 80px;

}

p {
  color: rgb(0, 0, 0);
}

.nav {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin: 2rem;
  padding: 0px;
  
}

.logo {
 align-self: flex-start;
}

.B1 {
  justify-self:flex-end;
}

.rectangle {
width: 764px;
height: 583px;
background: linear-gradient(180deg, #427BFF 0%, rgba(194, 248, 255, 0) 91.62%);
margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
}

h1 {
  position: relative;
  bottom: 600px;
  left: 258px;
  line-height: 91.08px;
  letter-spacing: -3%;
}

p {
  position: relative;
  bottom: 660px;
  left: 258px;
  font-weight: 200;
}

.Arrow-button {
  position: relative;
  bottom: 670px;
  left: 258px;
}

.Arrow-button > button {
  position: relative;
   height: 40px;
   width: auto ;
   background-color: black;
   border: none;
   color: white;
   border-radius: 4px;
   left: 10px;
}

.socials {
  position: relative;
  bottom: 640px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}

.socials > img {
  margin: 20px;
}











